<div class="row" *ngFor="let item of dispositiu | keyvalue ">
    <div class="col">{{ item.value.marca }}</div>
    <div class="col">{{ item.value.model }}</div>
    <div class="col">{{ item.value.anyFabricacio }}</div>
    <div class="col ultim">
        <button class="btn btn-danger" (click)="eliminar(item.key)">Eliminar</button>
    </div>
</div>