<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Exercici 6</h1>
  <h3>Llista dispositius</h3>
  <div class="container">
    <div class="row">
      <div class="col">Marca</div>
      <div class="col">Model</div>
      <div class="col">Any de fabricacio</div>
      <div class="col"></div>
    </div>
    <app-llista [dispositiu] = "dispositius" (sortida) = "eliminar($event)"></app-llista>
    <app-form-entrada (entrada) = "afegir($event)"></app-form-entrada>
  </div>