<input type="text" [(ngModel)] = "marca" placeholder="Marca"><br>
<input type="text" [(ngModel)] = "model" placeholder="Model"><br>
<input type="text" [(ngModel)] = "anyFabricacio" placeholder="Any de fabricacio"><br>
<button class="btn btn-info" (click)="afegir()">Afegir</button>